$font-family: 'Questrial', sans-serif;

$brandPurple: #7268a8;
$brandBlue: #69cef8;
$brandGreen:  #00a69c;

$donateTabBG:  $brandPurple;
$brandLite: $brandBlue;
$brandDark: $brandPurple;


// Links
// -------------------------
$linkColor: #ffffff !default;
$linkColorHover: #000000 !default;
$linkColorActive: #000000 !default;
$modal-bg: #f7f7f7;
$donatePosTop: 45vh;
$borderColor: $brandGreen;
