.page-title .wrap,
.home-widgets-1 .textwidget {
    position: relative;

    &:hover:before,
    &:hover:after,
    &:hover h1:before,
    &:hover h1:after {
      display:block;
      border-radius:2px;
      width:2px;
      height:2px;
      -webkit-animation:rip 4s infinite;
      -moz-animation:rip 4s infinite;
      -o-animation:rip 4s infinite;
      animation:rip 4s infinite;
      -webkit-animation-delay:.3s;
      -moz-animation-delay:.3s;
      -o-animation-delay:.3s;
      animation-delay:.3s;
      -webkit-backface-visibility: hidden;
      z-index:-1;
      position: absolute;
      content: '';
      top: 30px;
      left: 50%;
    }

    &:hover:before {
      z-index: -2;
      margin-left: 5px;
      -webkit-animation-delay:.5s;
      -moz-animation-delay:.5s;
      -o-animation-delay:.5s;
      animation-delay:.5s;
    }

    &:hover:after {
      margin-left: 8px;
      -webkit-animation-delay:.9s;
      -moz-animation-delay:.9s;
      -o-animation-delay:.9s;
      animation-delay:.9s;
    }

    &:hover h1:before {
      margin-left: -3px;
      -webkit-animation-delay:.2s;
      -moz-animation-delay:.2s;
      -o-animation-delay:.2s;
      animation-delay:.2s;
    }
}

@-webkit-keyframes rip {
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 $brandTeal,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 $brandTeal,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  75% {
    box-shadow:0 0 5px 100px $brandTeal,
               0 0 10px 105px transparent,
               0 0 15px 105px $brandTeal,
               0 0 10px 115px transparent;
  }
}
@-moz-keyframes rip {
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 $brandTeal,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 $brandTeal,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  75% {
    box-shadow:0 0 40px 100px $brandTeal,
               0 0 10px 105px transparent,
               0 0 30px 105px $brandTeal,
               0 0 5px 115px transparent;
  }
}
@-o-keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 $brandTeal,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 $brandTeal,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  75% {
    box-shadow:0 0 40px 100px $brandTeal,
               0 0 10px 105px transparent,
               0 0 30px 105px $brandTeal,
               0 0 5px 115px transparent;
  }
}
@keyframes rip
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 $brandTeal,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 $brandTeal,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  75% {
    box-shadow:0 0 40px 100px $brandTeal,
               0 0 10px 105px transparent,
               0 0 30px 105px $brandTeal,
               0 0 5px 115px transparent;
  }
}