$font-family: 'Questrial', sans-serif;

$brandOrange: #de7c00;
$brandBrown: #5c4738;
$brandTeal:  #00a69c;

$donateTabBG:  $brandOrange;
$brandLite: $brandOrange;
$brandDark: $brandTeal;


// Links
// -------------------------
$linkColor: #ffffff !default;
$linkColorHover: #000000 !default;
$linkColorActive: #000000 !default;
$modal-bg: #f7f7f7;
$donatePosTop: 45vh;
$borderColor: $brandBrown;