$font-family: 'Questrial', sans-serif;

$brandLite: #f8c41b;
$brandDark:  #963695;

// Links
// -------------------------
$linkColor: $brandDark !default;
$linkColorHover: $brandLite !default;
$linkColorActive = $brandLite !default;
$modal-bg: $f7f7f7;
$donatePosTop: 45vh;
$borderColor: #000000;