.sidebar {
	position: relative;
}


.pebble-donate {
  margin-top: -50px;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 5px;
  transition: width 0.2s ease-in, background 0.2s ease-in;
  background:	$brandLite;
  border: 1px solid $borderColor;

	&:hover {
		background: $brandDark;
		width: 20px;
		.pebble-donate__tab {
			right: 18px;
			background: $brandDark;
			a {
				color: #ffffff;
			}
		}
	}

  &.active {
	width: 100%;
	height: 100%;
	z-index: 4000;
	position: fixed;
	background:	$modal-bg;

	.pebble-donate__tab {
	  border: none;
	  background: transparent;
	  right: calc(100% - 120px);
	}

	.fa {
		transform: rotate(180deg);
	}
  }
  
  @include e(tab) {

	background: $brandLite;
	position: fixed;
	width: auto;
	font-size: 12px;
	right: 4px;
	top: $donatePosTop;
	height: 50px;
	z-index: 100;
	border: 1px solid $borderColor;
	border-right: none;
	border-radius: 5px 2px 2px 5px;
	transition: right 0.2s ease-in, color 0.2s ease-in, background 0.2s ease-in;
	  @include vendor("transition", "right 0.2s ease-in, background 0.2s ease-in");

	  &:hover {
		  right: 18px;
		  background: $brandDark;
		  a {
		  	color: #FFFFFF;
		  }
	  }


	@include m(link) {
	  font-family: $font-family;
	  color: #FFFFFF;
	  text-decoration: none;
	  transition: color 0.2s ease-in;
	  @include vendor("transition","color 0.2s ease-in");
	  &:hover {
		text-decoration: none;
		color: #FFFFFF;
	  }
	  &:active {
		text-decoration: none;
		color: #FFFFFF;
	  }
	  div {
		padding: 16px 5px;
		z-index: 1000;
		margin-right: 3px;
		transition: margin 0.2s ease-in;
		@include vendor("transition", "margin 0.2s ease-in");

		.fa {
		  font-size: 18px;
		  float: left;
		  margin: -1px 3px 0 0;
		}

	  }
	}
  }

  @include e(form) {

  }
}
