.nav-donate {
  width: 10vw;
  height: 45px;
  position: fixed;
  background-color: $brandGreen;
  color: #ffffff;
  display: flex;
/*  @include e(link-wrapper) {
    height: 50px;
    div {
      padding: none !important;
      background: transparent !important;
      border: none !important;
    }
  }*/

  &.active {
    color: $brandBlue;
  }
  &:hover {
    color: $brandBlue;
  }
}

.donate-modal {
  width: 0;
  z-index: 4000;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background:	$modal-bg;
}