@import "pebble/variables";
@import "base/variables";
@import "base/mixins";
@import "donate/side-tab";
@import "pebble/nav";
@import "pebble/ripples";

.site-header {
  background: #ffffff !important;
}

.gppro-custom .btn.btn-call-to-action {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: $brandOrange;
  display: inline-block;
  width: auto;
  padding: 5px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  position: relative;


  &:hover {
    background: $brandOrange;
    color: #fff;
  }
}

@media screen and (min-width: 1030px) {
  .header-image .shrink .site-title > a,
  .header-image .site-title > a {
    margin-left: 110px;
  }
}

#responsive-menu-icon {
  text-align: right;
}
#responsive-menu-icon::before {
  color: #666;
  font-size: 30px;
}